* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#row-correction {
    margin-right: 0;
    margin-left: 0;
}

/* FONTS FONTS FONTS FONTS */

@font-face {
    font-family: 'Poppins Black';
    src: url('../assets/fonts/Poppins-Black.ttf') format('truetype')
}

@font-face {
    font-family: 'Poppins Black Italic';
    src: url('../assets/fonts/Poppins-BlackItalic.ttf') format('truetype')
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Poppins Bold Italic';
    src: url('../assets/fonts/Poppins-BoldItalic.ttf') format('truetype')
}

@font-face {
    font-family: 'Poppins Extra Bold';
    src: url('../assets/fonts/Poppins-ExtraBold.ttf') format('truetype')
}

@font-face {
    font-family: 'Poppins Extra Bold Italic';
    src: url('../assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype')
}

@font-face {
    font-family: 'Poppins Extra Light';
    src: url('../assets/fonts/Poppins-ExtraLight.ttf') format('truetype')
}

@font-face {
    font-family: 'Poppins Extra Light Italic';
    src: url('../assets/fonts/Poppins-ExtraLightItalic.ttf') format('truetype')
}

@font-face {
    font-family: 'Poppins Italic';
    src: url('../assets/fonts/Poppins-Italic.ttf') format('truetype')
}

@font-face {
    font-family: 'Poppins Light';
    src: url('../assets/fonts/Poppins-Light.ttf') format('truetype')
}

@font-face {
    font-family: 'Poppins Light Italic';
    src: url('../assets/fonts/Poppins-LightItalic.ttf') format('truetype')
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('../assets/fonts/Poppins-Medium.ttf') format('truetype')
}

@font-face {
    font-family: 'Poppins Medium Italic';
    src: url('../assets/fonts/Poppins-MediumItalic.ttf') format('truetype')
}

@font-face {
    font-family: 'Poppins Regular';
    src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype')
}

@font-face {    
    font-family: 'Poppins Semi Bold';
    src: url('../assets/fonts/Poppins-SemiBold.ttf') format('truetype')
}

@font-face {
    font-family: 'Poppins Semi Bold Italic';
    src: url('../assets/fonts/Poppins-SemiBoldItalic.ttf') format('truetype')
}

@font-face {
    font-family: 'Poppins Thin';
    src: url('../assets/fonts/Poppins-Thin.ttf') format('truetype')
}

@font-face {
    font-family: 'Poppins Thin Italic';
    src: url('../assets/fonts/Poppins-ThinItalic.ttf') format('truetype')
}

/* NAVBAR NAVBAR NAVBAR NAVBAR */

.navbar-container {
    background-color: #173E3C !important;
}

.nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.nav-link {
    color: #379E56;
    font-size: 1rem;
    font-family: Poppins Semi Bold;
}

.nav-link:hover, .nav-link:focus, .dropdown-toggle:hover, .dropdown-toggle:focus {
    color: #D7D8CF;
}

.logo-nav {
    width: 8rem;
}

.bi-list {
    font-size: 3rem;
    color: #D7D8CF;
}

.dropdown-toggle {
    background-color: transparent;
    border: none;
    color: #379E56;
    font-size: 1.2rem;
}

.dropdown-menu {
    padding: 0.5rem 1rem;
    border-radius: 0;
    font-family: Poppins Semi Bold;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #23b44e !important;
    background-color: transparent !important;
}

@media (max-width: 990px) {
    .nav-link {
        font-size: 1.5rem;
        margin-left: 3rem;
    }
    .dropdown-toggle, .dropdown-menu.show {
        display: none;
    }
}

/* HOME HOME HOME HOME */

.home-31 {
    background-color: #379E56;
    padding: 10% 15% 10% 5%;
    color: #EEE;
}

.home-31 h2 {
    font-family: Poppins Bold;
    font-size: 1.6rem;
}

.home-31 p {
    font-family: Poppins Light;
    font-size: 0.9rem;
    margin: 8% 0;
}

.home-31 button {
    background-color: #173E3C;
    color: #FFF;
    padding: 0.5rem 5rem 0.5rem 1rem;
    border: 0;
    border-radius: 0.5rem;
    font-family: Poppins Semi Bold;
    font-size: 1.3rem;
}

.home-4 {
    background-color: #173E3C;
    color: #FFF;
    padding: 7% 0;
}

.home-4 h2 {
    font-size: 1.3rem;
    font-family: Poppins Bold;
    text-align: center;
    margin: 0 10%;
}

.home-4 section {
    text-align: center;
}

.home-4 section img {
    height: 2.8rem;
    margin-top: 1.5rem;
    object-fit: contain;
}

.home-4 .col-lg-1 {
    flex: auto;
}

.campo {
    padding: 0;
}

.campo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-52 {
    padding: 5% 7%;
    color: #173E3C;
    background-color: #D7D8CF;
}

.home-52 p:first-child {
    font-family: Poppins Bold;
    font-size: 1.6rem;
}

.home-52 p {
    font-family: Poppins Light;
    font-size: 1rem;
}

.form-floating .form-control {
    border: 0;
    border-bottom: #173E3C 2.5px solid;
    border-radius: 0;
    color: #173E3C;
    height: 3.5rem;
    background-color: transparent;
}

.form-floating label {
    color: #173E3C;
    font-family: Poppins Light;
}

.form-floating .form-control:focus {
    box-shadow: none;
}

#mensaje {
    height: 6rem;
}

@media (min-width: 991px) {
    .lg-hidden {
        display: none;
    }
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER */

.footer {
    background-color: #173E3C;
    color: #D7D8CF;
}

.footer section {
    padding: 5% 7%;
}

.footer img {
    width: 13rem;
}

.footer span {
    display: block;
    color: #D7D8CF;
    font-size: 1.1rem;
    font-family: Poppins Light;
}

.social p {
    font-size: 2rem;
    font-family: Poppins Bold;
}

.social i {
    font-size: 2rem;
    margin-right: 1.5rem;
    color: #D7D8CF;
}

/* NOSOTROS NOSOTROS NOSOTROS NOSOTROS */

.us {
    background-color: #173E3C;
    color: #FFF;
    padding: 0 7%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.us h1 {
    display: block;
    font-size: 2.5rem;
    font-family: Poppins Bold;
}

.us p {
    display: block;
    font-family: Poppins Light;
    font-size: 1.05rem;
    margin-top: 5%;
}

.hacemos {
    background-image: url('./img/flores.png');
    background-color: #D7D8CF;
    color: #173E3C;
}

.hacemos section {
    padding: 10% 5%;
}

.hacemos img {
    width: 65%;
}

.hacemos h1 {
    font-size: 3rem;
    font-family: Poppins Bold;
}

.hacemos p {
    font-family: Poppins Light;
    font-size: 1.05rem;
    margin-top: 8%;
}

#marcas-us {
    background-color: #379E56;
}

@media (max-width: 990px) {
    .us {
        padding: 15% 10%;
    }
    .hacemos img {
        width: 55%;
    }
}
